<app-menuadmin></app-menuadmin>
<mat-card class="config-check-form">
  <mat-grid-list cols="2" rowHeight="460px">
    <mat-grid-tile class="left">
     <form class="example-form">
      <mat-form-field class="example-full-width">
        <input  type="text"[(ngModel)]="views.productID" aria-label="Number" matInput [formControl]="myControl" [(value)]="views.selectProductID" name="pid" [value] = "views.productID" >
        <mat-placeholder class="placeholder">Product  ID</mat-placeholder>
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
     <input matInput [(ngModel)]="views.productName"  [(value)]="views.selectProductName" name="names" [value] = "views.productName">
        <mat-placeholder class="placeholder">Name</mat-placeholder>
      </mat-form-field><br/>
   <mat-form-field class="example-width">
     <input matInput  [(ngModel)]="views.productPrice"  [(value)]="views.selectProductPrice" name="price" [value] = "views.productPrice">
     <mat-placeholder class="placeholder">Price</mat-placeholder>
   </mat-form-field>
      <mat-form-field class="example-width">
      <input matInput [(ngModel)]="views.productQuantity"[(value)]="views.selectProductQuantity" name="quantity" [value]="views.ProductQuantity">
        <mat-placeholder class="placeholder">Quantity</mat-placeholder>
      </mat-form-field><br/>
      <br/> <br/>
      CHECK :
      <mat-form-field class="check-width">
        <input matInput name="level"[(ngModel)]="views.level">
        <span matSuffix>%&nbsp;</span>
      </mat-form-field><br/>
      <mat-slider thumbLabel [(ngModel)]="views.level"name = "lev" [(value)]="views.level"></mat-slider><br/>
    รายละเอียด :
    <mat-form-field class="example-full-width">
      <textarea matInput [(ngModel)]="views.comment"  name="comm" [value] = "views.comment"></textarea>
    </mat-form-field><br/>
    <button mat-mini-fab class="bottom-left">
      <mat-icon (click)="save()"aria-label="Example icon-button with a save icon">save</mat-icon>
    </button>
    <br/><br/>
     <button mat-flat-button color="accent" routerLink="/checkhistory">Check History</button>
     </form>
    </mat-grid-tile>

    <mat-grid-tile >
      <form class="example-form-right" >
          <mat-form-field appearance="outline" class="example-width-right">
            <mat-select placeholder="Product  ID" [(ngModel)]="views.prodID"  [(value)] = "views.prodID"  name = "prod"  >
              <mat-option>None</mat-option>
              <mat-option *ngFor="let prod of product" [value]="prod.prodId">
                {{prod.productIds}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <table mat-table [dataSource]="product" class="mat-elevation-z8">
            <!-- PID Column -->
            <ng-container matColumnDef="PID">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.prodId}} </td>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="productID">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.productIds}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="productPrice">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.productPrice}} </td>
            </ng-container>
            <!-- Quantity Column -->
            <ng-container matColumnDef="productQuantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.productQuantity}} </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="types">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.type.typeName}} </td>
            </ng-container>
            <!-- Status Column -->
            <ng-container matColumnDef="statuses">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status.statusProduct}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "(click)="selectRow(row)"></tr>
          </table>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>